html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: clamp(2.5rem, 3vw, 5.5rem);
    margin-bottom: 0;
}

.h2 {
    text-transform: uppercase;
    font-size: clamp(1.6rem, 1vw, 3rem);
    color: #dedede;
}

.h3 {
    font-size: clamp(1.5rem, 2vw, 5rem);
    text-transform: uppercase;
    text-align: center;
    &--mb-0 {
        margin-bottom: 0;
    }
}

.img-fluid {
    max-width: 100%;
    width: 100%;
    height: auto;
}